{% extends "layout.html" %} <!-- Inherits base template -->
{% block content %} 
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}"> <!-- This is the code that will display the user's profile picture -->
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
        <form method="POST" action="" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" is required for uploading files -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-botom" mb-4">Account Info</legend>
                <div class="form-group"> <!-- This is where we will use the fields from the form that was passed in  -->
                    {{ form.username.label(class="form-control-label")}}
                    {% if form.username.errors %} <!-- This is the code that will display the error message if the username is not valid -->
                        {{ form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span> <!-- print out error -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group"> 
                    {{ form.email.label(class="form-control-label")}}
                    {% if form.email.errors %} <!-- This is the code that will display the error message if the email is not valid -->
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span> <!-- print out error -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group"> 
                    {{ form.picture.label()}}
                    {{ form.picture(class="form-control-file")}}
                    {% if form.picture.errors %} <!-- This is the code that will display the error message if the picture is not valid -->
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br> <!-- print out error -->
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group"> <!-- this is the submit button-->
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>

{% endblock content %}
