{% extends "layout.html" %} <!-- Inherits base template -->
{% block content %} 
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-botom" mb-4">{{ legend }} </legend> <!-- This legend will be called whatever we pass in so it changes its name based on what route calls it  -->
            <div class="form-group"> 
                {{ form.title.label(class="form-control-label")}}
                {% if form.title.errors %} <!-- This is the code that will display the error message if the email is not valid -->
                    {{ form.title(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span> <!-- print out error -->
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group"> 
                {{ form.content.label(class="form-control-label")}}
                {% if form.content.errors %} <!-- This is the code that will display the error message if the password is not valid -->
                    {{ form.content(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span> <!-- print out error -->
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group"> <!-- this is the submit button-->
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}
