{% extends "base.html" %}

{% block content %}
<style>
    .positionedButton {
        position: absolute;
        top: 10%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        width: 1000px; /* Adjust as needed */
        height: 50px; /* Adjust as needed */
    }
    .positionedButton2 {
        position: absolute;
        top: 20%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        width: 1000px; /* Adjust as needed */
        height: 50px; /* Adjust as needed */
    }
    .positionedButton3 {
        position: absolute;
        top: 30%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        width: 1000px; /* Adjust as needed */
        height: 50px; /* Adjust as needed */
    }
    .positionedButton4 {
        position: absolute;
        top: 40%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        width: 1000px; /* Adjust as needed */
        height: 50px; /* Adjust as needed */
    }
    .positionedButton5 {
        position: absolute;
        top: 50%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        width: 1000px; /* Adjust as needed */
        height: 50px; /* Adjust as needed */
    }
</style>
<a href="/Essay">
    <button class = "positionedButton">Type essay </button>
</a>

<a href="/WorkHistory">
    <button class = "positionedButton2">Work History </button>
</a>

<a href="/Education">
    <button class = "positionedButton3">Education </button>
</a>

<a href="/ContactInfo">
    <button class = "positionedButton4">Contact information</button>
</a>

<a href="/AdditionalInfo">
    <button class = "positionedButton5">Additional Information </button>
</a>
{% endblock %}