<!-- this extends the base.html template and then the unique info is in the block content-->
{% extends "base.html" %}
{% block content %}
    {% for application in application %} <!-- The following loop displays the applications in a nice formated manner with white rectangular borders -->
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ application.applicant }}</a>
            <small class="text-muted">{{ application.date_applied }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ application.title }}</a></h2>
          <p class="article-content">{{ application.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}